.brands{
background-color: var(--yellow);
padding: 60px 0 55px;

}

.brands-list{
    display: flex;
    align-items: center;
    gap: 120px;
   mix-blend-mode: multiply;  /* CSS-свойство mix-blend-mode определяет режим смешивания цветов выбранного элемента с низлежащими слоями. */
}
