.email {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(229, 198, 67);;
  height: 623px;
}

.email-title {
  width: 966px;
  color: rgb(255, 255, 255);
  font-size: 55px;
  font-weight: 900;
  line-height: 70px;
  letter-spacing: 3%;
  text-align: center;
}

.email-desc {
    margin-top: 37px;
    margin-bottom: 49px;
  color: rgb(255, 252, 248);
  font-size: 32px;
  font-weight: 400;
  line-height: 35px;
}

.email-form{
    border-radius: 10px;
    width: 574px;
    background-color: #fff;
    height: 87px;
    display: flex;
    justify-content: center;
    gap: 25px;
    align-items: center;
}

.email-form input{
    color: rgb(118, 118, 118);
font-size: 24px;
font-weight: 400;
line-height: 35px;
margin-right: 70px;
}

.email-form button{
    background: #000;
    color: rgb(255, 255, 255);
font-size: 33px;
font-weight: 500;
line-height: 35px;
text-transform: capitalize;
padding: 17px 35px 15px 38px;
border-radius: 8px  ;
}